<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <div class="container">
      <a class="navbar-brand" href="#">Finance Trakt</a>
      <% if current_user %>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <%= link_to "My Portfolio", my_portfolio_path ,class:"nav-link" %>
          </li>
          <li class="nav-item">
            <li><%= link_to "My Profile", edit_registration_path(current_user),class:"nav-link" %></li>
          </li>
          <li class="nav-item">
              <li><%= link_to "Friends", my_friends_path,class:"nav-link" %></li>
          </li>
        </ul>

        <ul class="nav navbar-right col-md-4">
          <li class="col-md-8 user-name text-right nav-link text-white">
          <i class="fa fa-user"></i>
            <%= current_user.full_name.present? ? current_user.full_name : current_user.email %>
          </li>
          <li class="col-md-4 logout">
            <%= link_to("logout", destroy_user_session_path,
                                class: "btn btn-xs btn-danger", method: :delete) %>
          </li>
        </ul>
      <% end %>

    </div>
  </div>
</nav>